

.header-div img {
    max-width: 60%;
    margin-top: 1.3rem;
}

.header-row {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}




.services-section {
    margin-top: 7.5rem;
    /* height: 100vh; */
}


.services-section .row h2 {
    margin-bottom: 3rem;
}

.services-div h3 {
    margin-bottom: 2rem;
}

.svg {
    margin-bottom: 2rem;
}


.slider {
    margin-top: 5rem;
}


.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
}



.custom-link {
    position: relative;
    text-decoration: none; /* Remove the default underline */
}
  
.custom-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust this value to control the spacing */
    width: 100%;
    height: 2px; /* Adjust the thickness of the underline */
    background-color: rgb(90, 90, 184); /* Adjust the color of the underline */
}
  




@media(max-width:968px) {
    .header-div img {
        max-width: 100%;
    }
    .button-div {
        display: flex;
        flex-direction: column;
    }

    .button-div :nth-child(2) {
        margin-top: 1rem;
    }

    .services-div  {
        margin-top: 2rem;
    }


   
}







